
.info{
    background-color: #9dc2d5;;
    opacity: 0.5;
    border-radius: 4px;
}


.changeCity{
    max-width: 80px; 
    max-height: 22px;
   
}
.changeCitySubmit{
    font-size: 20px;
    border: none;
   
}
.myLocation,.changeCitySubmit,.changeCity{
    border: 4px;
    background:white;
    opacity: 0.8;
    font-size: 13px;
}

ul{
    border: 4px;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    text-align: start;}
.currentCity{
    font-size: 40px; 
    font-weight: 100;
}
.temperature{
    max-height: 50px;
}
.temp{
    font-size: 40px;
    font-weight: lighter;
   
}
.celsii, .farenheit{
    color: black;
    font-size: 12px;
    text-decoration: none;
    transition: all 300ms ease;
   
}
.celsii:hover, .farenheit:hover{
    color:blueviolet ;
}